$pixelBase: 20.7;
@import "../../common/css/function_v2";
.board{
  width: rem(800px);
  height: rem(800px);
  margin: 0 auto;
  overflow: hidden;
  float: left;
  .chess{
    width: rem(80px);
    height: rem(80px);
    list-style: none;
    position: relative;
    float: left;
    .round{
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left:50%;
    }
    .round_common{
      width: rem(12px);
      height:rem(12px);
      margin-left: rem(-6px);
      background-color: #333;
      margin-top: rem(-6px);
    }
    .round_active_white{
      background-color: #f3a33f;
      width: rem(40px);
      height: rem(40px);
      margin-left: rem(-20px);
      margin-top: rem(-20px);
    }
    .round_active_black{
      background-color: #000;
      width: rem(40px);
      height: rem(40px);
      margin-left: rem(-20px);
      margin-top: rem(-20px);
    }
  }
  .chess:before{
    content: "";
    display: block;
    background-color: #999;
    width: rem(80px);
    height: rem(1px);
    position: absolute;
    top:50%;
  }
  .chess:after{
    content: "";
    display: block;
    background-color: #999;
    width: rem(1px);
    height: rem(80px);
    position: absolute;
    left:50%;
    z-index: -1;
  }
}
